html, body{
    margin: 0px;
    background-color: rgb(24, 3, 87);
    color: aliceblue;
}

.titulo{
    
    text-align: center;
    background-color: black;
    color: aqua;
    font-size: 1.5rem;

}

.carta{
    position: relative;
    width: 120px;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #computadora-cartas{
    width: 400px;
    height: 200px;
}